ul {

    border: 1px solid green;
    padding: 10px;
    padding-left: 30px;
}

li {

    color: chocolate
}

ol {
    border: 2px solid blue;

    padding: 10px;
    padding-left: 40px;

}